@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');

/* ##################### nav content ####################### */
.act-about{
    padding: 5px;
    border-radius: 5px;
    background-color: #e9c25f;
}

.act-about i{
    color: #fff;
}

/* ######################## about page  ############################# */
.about{
    max-width:992px;
    margin:50px auto;
    
}
.title{
    text-align:center;
    color:black;
    font-weight: bold;
    font-size: 28px;
   
}
.about-explanation{
    text-align: center;
    font-size:20px;
    font-style: oblique;
    color:black;
}
.rim{
    display:grid;
    grid-template-columns: auto auto auto;
    width:992px;
    height:auto;
    margin:50px auto;
    background-color: #f6b319;
    border-radius: 25px;
}
.media{
    margin-left: 50px;
    padding:50px;
}
iframe{
    width:290px;
    height:200px;
}
audio{
    margin-top:30px;
}
.media-text{
    margin:50px;
    width:300px;
    height:300px;
    color: #000;
}