@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');


/* ##################### nav content ####################### */
.act-order{
    padding: 5px;
    border-radius: 5px;
    background-color: #e9c25f;
}

.act-order i{
    color: #fff;
}

/* ######################## contact page  ############################# */
.contact{
    width:100%;
    height: auto;
    background-image:url('./img/bookingImage.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    
    display: flex;
    justify-content: center;
}
.contact-cont{
    width: 80%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0;

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

/* ############################### feed back form #################################*/
.feedback{
    padding: 30px;
    width: 40%;
}

.contact-row{
    display:flex;
    justify-content: center;
    gap: 20px;
}

.contact-row .contact-form > .contact-inpt{
    width:90%;
}

.contact-inpt{
    color: #7c7575;
    font-size: 15px;
    font-family: "Itim", cursive;
}

label{
    color: #fff;
    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 700;
    padding-left: 5px;
}

.contact-form select{
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 10px;
    color: #7c7575;
    font-size: 15px;
    font-family: "Itim", cursive;
}

.contact-form select .select-table{
    display: none;
}

.contact-form{
    margin-bottom: 20px;
}

.contact-inpt{
    width:95%;
    padding:10px;
    border-radius:10px;
    border:none;
}

.btn{
    width:100%;
}

.btn button{
    width:200px;
    padding:10px;
    border-radius:10px;
    background-color: #f6b319;
    color:#000;
    left:250px;
    border:none;
    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 700;
}

.btn button:hover{
    color: #000;
    background-color: #fff;
    transform: translateY(-3px);
}


/* ############################### some detail #################################*/
.some-detail{
    width: 300px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
}

.some-detail .detail-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.some-detail .detail-header h1{
    color: #fff;
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 700;

}

.some-detail .detail-header i{
    padding: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-right: -20px;
    background-color: #7c7575;
    border-radius: 50%;
}

.some-detail .detail-header i:hover{
    color: #e9c25f;
}

.som-dit-img{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.som-dit-img img{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
}

/* book history detail */
.book-dit{
    display: none;
    position: fixed;
    width: 60%;
    height: 80%;
    top: 80px;
    z-index: 5;
    background-color: #e9c25f;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0;
}

.book-dit.openBookDit{
    display: block;
}

.his-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

.his-header h3{
    color: #fff;
    font-size: 25px;
    font-family: "Itim", cursive;
    font-weight: 700;
}

.his-header i{
    padding: 3px 4px 3px 4px;
    color: #fff;
    font-size: 15px;
    background-color: rgb(233, 23, 23);
    border-radius: 50%;
}

.his-header i:hover{
    transform: scale(1.1);
}

.his-detail-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
}

.his-detail-list .his-det{
    width: 50%;
    height: 50px;
    background-color: #7c7575;
    border-radius: 10px;
}

@media(min-width: 300px) and (max-width: 600px){
    .feedback{
        width: 100%;
    }
    .some-detail{
        width: 100%;
    }
}

@media(min-width: 600px) and (max-width: 767px){
    .feedback{
        width: 100%;
    }
    .some-detail{
        width: 100%;
    }
}