@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');


/* ##################### nav content ####################### */
.act-booking{
    padding: 5px;
    border-radius: 5px;
    background-color: #e9c25f;
}

.act-booking i{
    color: #fff;
}

/* ######################## contact page  ############################# */
.contact{
    width:100%;
    height: auto;
    background-image:url('./img/bookingImage.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    
    display: flex;
    justify-content: center;
}
.contact-cont{
    width: 1000px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0;

    display: flex;
    justify-content: space-between;
}

/* ############################### feed back form #################################*/
.feedback{
    padding: 30px;
}

.contact-row{
    display:flex;
    justify-content: center;
    gap: 20px;
}

.contact-row .contact-form > .contact-inpt{
    width:90%;
}

.contact-inpt{
    color: #7c7575;
    font-size: 15px;
    font-family: "Itim", cursive;
}

.contact-form select{
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 10px;
    color: #7c7575;
    font-size: 15px;
    font-family: "Itim", cursive;
}

.contact-form select .select-table{
    display: none;
}

.contact-form{
    margin-bottom: 20px;
}

.contact-inpt{
    width:95%;
    padding:10px;
    border-radius:10px;
    border:none;
}

.btn{
    width:100%;
}

.btn button{
    width:200px;
    padding:10px;
    border-radius:10px;
    background-color: #f6b319;
    color:#000;
    left:250px;
    border:none;
    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 700;
}

.btn button:hover{
    color: #000;
    background-color: #fff;
    transform: translateY(-3px);
}


/* ############################### contact us  form #################################*/
.contact-us{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.contact-us h1{
    color: #fff;
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 700;

}

/*
.f-cont{
    display: flex;
    flex-direction: column;
}

.f-cont a{
    text-decoration: none;
    color: #f6b319;
    font-size: 20px;
    line-height: 50px;
}

.f-cont a i span{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
}

.s-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.s-cont a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
} */


