@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');

/* ######################## menu catagory  ############################# */
.cart-order-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.carts{
    width: 100%;
    height: 550px;
    overflow-y: auto;
    background-color: #f6b319;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.carts::-webkit-scrollbar{
    width: 10px;
}

.carts::-webkit-scrollbar-track{
    background-color: rgb(119, 118, 118);
    border-radius: 10px;
}

.carts::-webkit-scrollbar-thumb{
    background-color: antiquewhite;
    border-radius: 10px;
}

.cart-card-list{
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.cart-card{
    width: 450px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.cart-card img{
    width: 70px;
    height: 70px;
    padding: 10px;
}

.ord-dit{
   width: 150px;
   margin-left: 10px;
   line-height: 0px; 
   display: flex;
   flex-direction: column;
}

.ord-dit h1{
    font-size: 25px;
    font-family: "Itim", cursive;
}

.ord-dit p{
    font-size: 15px;
    font-family: "Itim", cursive;
    padding-left: 5px;
    margin-top: 3px;
    line-height: 19px;
}

.ord-dit p span{
    font-weight: 600;
    margin-right: 10px;
}

.pl-btn{
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: center;
    margin-left: 30px;
}

.pl-btn button{
    width: 25px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: #ffb700;
    font-weight: 600;
}

.pl-btn button:hover{
    transform: scale(1.1);
}



.order{
    width: 100%;
    height: auto;
    background-color: #f6b319;
    border-radius: 10px;
}

.ord-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ord-info form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.ord-info form label{
    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.ord-info form input{
    width: 450px;
    padding: 15px;
    border: none;
    border-radius: 10px;

    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.ord-info form select{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;

    color: #807e7e;
    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.ord-info form select #hid{
    display: none;
}

.ord-info form button{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;

    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.ord-info form button:hover{
    background-color: #ffb700;
    transform: translateY(-3px);
}