@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');


/* ##################### nav content ####################### */
.act-contact{
    padding: 5px;
    border-radius: 5px;
    background-color: #e9c25f;
}

.act-contact i{
    color: #fff;
}

/* ######################## contact page  ############################# */
.contact{
    width:100%;
    height: auto;
    background-image:url('./img/hom2.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    
    display: flex;
    justify-content: center;
}
.contact-cont{
    width: 80%;
    height: auto;
    z-index: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 30px;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0;

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}


/* ############################### contact us  form #################################*/
.contact-us{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contact-us h1{
    color: #fff;
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 700;

}

.f-cont{
    display: flex;
    flex-direction: column;
}

.f-cont a{
    text-decoration: none;
    color: #f6b319;
    font-size: 20px;
    line-height: 50px;
}

.f-cont a i span{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
}

.f-cont a i:hover{
    color: #fff;
    transform: scale(1.1);
}

.f-cont a i span:hover{
    text-decoration: underline;
    text-decoration-color: #f6b319;
    text-decoration-thickness: 3px;
}

.contact-us .map a{
    text-decoration: none;
}

.contact-us .map img{
    width: 80%;
    height: 180px;
    border-radius: 10px;
}


/* ############################### feed back form #################################*/
.feedback{
    padding: 30px;
}

.feedback h1{
    color: #fff;
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 700;

}

.contact-row{
    display:flex;
    justify-content: center;
    gap: 20px;
}

.contact-form label{
    color: #fff;
    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    
    padding-left: 5px;
}

.contact-row .contact-form > .contact-inpt{
    width:90%;
}

.contact-inpt{
    color: #7c7575;
    font-size: 15px;
    font-family: "Itim", cursive;
}

.contact-form{
    margin-bottom: 20px;
}

.contact-inpt,textarea{
    width:95%;
    padding:10px;
    border-radius:10px;
    border:none;
}

.contact-form textarea{
    height:200px;
    color: #7c7575;
    font-size: 15px;
    font-family: "Itim", cursive;
    resize: none;
}

.btn{
    width:100%;
}

.btn button{
    width:200px;
    padding:10px;
    border-radius:10px;
    background-color: #f6b319;
    color:#000;
    left:250px;
    border:none;
    font-weight: 700;
}