/* ############## this file is used to style the home part of the wab ################# */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');

/* ##################### nav content ####################### */
.act-home{
    padding: 5px;
    border-radius: 5px;
    background-color: #e9c25f;
}

.act-home i{
    color: #fff;
}


/* ##################### home content ####################### */
.home{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('img/homeyab.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.home-cont{
    width: 500px;
    height: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.blur-cont{
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0;
}

.home-logo{
    width: 100px;
    height: 100px;
    line-height: 5px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0;
    background-color: #f6b319;
}

.home-logo i{
    font-size: 30px;
    font-weight: bolder;
}

.home-logo h3{
    font-size: 12px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 800;
    font-style: normal;
}

.home-cont h1{
    color: black;
    font-size: 30px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.home-cont p{
    color: black;
    font-size: 20px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.home-cont .ord-btn{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f6b319;

    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.home-cont .ord-btn:hover{
    background-color: #ffb700;
    transform: translateY(-3px);
}

.home-icon i{
    color: black;
    padding: 20px;
    font-size: 25px;
}

.home-icon span{
    font-size: 15px;
}

.home-icon i:hover{
    color: #f6b319;
    transform: translateY(-3px);
}

/* ############### home AD ###################### */

.home-ad-list{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home-ad video{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.home-ad h1{
    margin-top: -50px;
    text-align: center;
    color: azure;
    font-size: 25px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}


/*  ############### newes list ###################### */
.news-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.news-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

.news{
    width: 300px;
    height: auto;
    line-height: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 15px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 800;
    font-style: normal;
}

.news .n-img img{
    width: 200px;
    height: 200px;
}

.news p{
    line-height: 30px;
    text-align: center;
}

.news button{
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f6b319;
}

.news button:hover{
    transform: translateY(-3px);
}

.more-btn button{
    width: 200px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #f6b319;
    margin-bottom: 50px;
}

.more-btn button:hover{
    transform: translateY(-3px);
}