/* ############## this file is used to style the common part of the wab ################# */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Itim&display=swap');

body{
    padding: 0;
    margin: 0;
}

/* ################  Header Style  ##################### */

.header {
    width: 100%;
    height: auto;
    position: fixed;
}

.nav-bar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f6b319;
}

.nav-bar .logo{
    margin-left: 30px;
    text-align: center;
    line-height: 5px;
    font-size: 10px;
    font-family: "Cedarville Cursive", cursive;
}

.nav-bar .logo i{
    font-weight: bolder;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.admin-link{
    margin-right: 30px;
    color: white;
}

.nav-link a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
}

.nav-link a i{
    margin-right: 5px;
}

.nav-link a:hover{
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e9c25f;
}

.sub-menu-wrap{
    position: absolute;
    right: 0;
    z-index: 6;
    width: 160px;
    margin-top: 130px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}



.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: #e0d7bf;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.login-info{
    display: flex;
    align-items: center;
}

.user-info a{
    color: #000;
    font-family: "Itim", cursive;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
}

.user-info a i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.user-info a:hover{
    font-size: 18px;
    transition: transform 0.5s;
}

#navi{
    margin-left: -30px;
    margin-right: 10px;
    display: none;
}

@media(max-width: 700px){
    #navi{
        display: block;
    }
    .nav-link a{
        display: none;
    }
    .nav-link a i{
        display: none;
    }
}

.sub-list-nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 50%;
    display: none;
    overflow: hidden;
    transition: max-height 0.5s;
}



.sub-list-nav.open-nav{
    display: block;
}

.listed-nav{
    background-color: #e0d7bf;
    padding: 20px;
    border-radius: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.listed-nav .navs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.listed-nav .navs a{
    color: #000;
    font-family: "Itim", cursive;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
}

.listed-nav .navs a i{
    color: #fff;
    margin-right: 15px;
}

.listed-nav .navs a:hover{
    transform: translateY(-3px);
}

/* ##################### cart button ######################## */

.cart-btn{
    width: 40px;
    height: 40px;
    padding: 5px;
    position: fixed;
    top: 80%;
    right: 8%;
    z-index: 999;

    display: flex;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cart-btn a{
    padding: 10px 5px;
    border: none;
    border-radius: 50%;

    text-decoration: none;
    color: #f6b319;
    margin-top: 20px;
}

.cart-btn a i{
    font-size: 25px;
}

.cart-btn .btn-one .noti-count{
    position: relative;
    top: -38px;
    right: -23px;

    padding: 3px 6px;
    border: none;
    border-radius: 50%;
    background-color: red;

    color: black;
    font-size: 10px;
}

.cart-btn a:hover{
    color: #000;
    transform: translateY(-5px);
}


/* ################  Main Container Style  ##################### */
.container{
    padding: 10px 50px;
}


/* ################  Footer Style  ##################### */
footer{
    width: 100%;
    height: auto;
    background-color: #f6b319;
}

.foot-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.foot-cont h3 i{
    color: #fff;
    margin-right: 7px;
}

.foot-cont h3 span{
    font-size: 25px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 800;
    font-style: normal;
}

.foot-cont p{
    margin-left: 20px;
    line-height: 20px;

    font-size: 15px;
    font-family: "Itim", cursive;
    font-weight: 800;
    font-style: normal;
}

.foot-cont p span{
    color: #000;
    font-size: 17px;
}